body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.upload-container {
    text-align: center;
    margin: 20px;
}

.upload-container button,
.upload-container .file-input-label {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.file-input-label:hover,
.upload-container button:hover {
    background-color: #0056b3;
    transition: 0.3s all ease;
}

.file-input {
    display: none;
}

.file-count {
    font-size: 16px;
    margin-left: 10px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    background-color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    font-size: 12px;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
    transition: 0.3s all ease;
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.status-message {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #007BFF;
}

.btn-export {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.btn-export:hover {
    background-color: #218838;
    transition: 0.3s all ease;
}

.btn-export[hidden] {
    display: none;
}
